
include mixins

doctype
html( lang="en" )
    head
        title Isys 475 Assignment 3
       
        //- Bootswatch Theme Superhero
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/superhero/bootstrap.min.css", rel="stylesheet")
 
    body(style="padding-bottom:10rem;")
        .container
 
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js")
        script(src="https://www.google.com/jsapi")
        script(src="javascripts/chart-app.js")


nav.navbar.navbar-default( role="navigation" )
    .navbar-header
        button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand Isys 475 Assignment 3
 
    #navbar-inverse.collapse.navbar-collapse
        ul.nav.navbar-nav
            li.active: a( href="/") Sign Out
            
     
    div.row
    div.col-md-6
    
        body(ng-app='simple-chart')
        div(ng-controller='MainController')
        #chart_div(style='width: 900px; height: 500px;')
    
div.col-md-6
+button("primary", "https://en.wikipedia.org/wiki/Fortune_Global_500") Wikipedia Source
div.col-md-6

dv.row
div.col-md-6


        
        
        //- includes/foot.jade
#footer
  p Isys 475 at San Francisco State University